ul{
    width: auto;
    float: right;
    margin-top:10px;
    word-spacing: 30px;
}
li{
    display: inline-block;
    padding: 15px 10 px; 
    margin:100px;
    
}
a{
    text-align: center;
    color: rgb(17, 16, 17);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    
}
a:hover{
    color: #380438;
    transation: 0,5s;
}

.row{
    height:300px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    color: blue;
    justify-content: space-between;
    align-items: flex-end;
   
}
.power{
    width:70px;
    height: 70px;
    float:left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    clear: both;
    position: relative;
    margin: 10px;
}
.Setting{
    width:70px;
    height: 70px;
    float:center;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    position: relative;
  
}img.set{
    width:70px;
    height: 70px;
    float:center;
}




